<h1> Mandala Art </h1> 

<%
=begin%>
 <p> Mandala Art is a comunty for mandala artists </p>  
<%
=end%>

<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/vGNTRUXiqa0" frameborder="0" 
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
</center>
<p class="new-draw"> <%= link_to 'Go To Draws', draws_path, class:"gray-color" %> </p>  


