<h1> Home page </h1> 

<p> Mandala Art is a comunty for mandala artists </p> 

 <%
=begin%>
 <video src="mandala1.mp4"  width="480" controls>
 </video>  
<%
=end%>

 
 <video controls width="720">
  <source src="video/mandala1.mp4" type="video/mp4">
<div style="border: 1px solid black ; padding: 8px ;">
Sorry, your browser does not support the &lt;video&gt; tag used in this demo.
</div>
</video> 



<iframe width="560" height="315" src="https://www.youtube.com/embed/vGNTRUXiqa0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>