// Place all the styles related to the Draws controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head {
    // position: relative;
    // background-color:gray; 
    // padding: 1em; 
    margin: auto; 
    width: 100%; 
    border-radius: 10px; 
    font-family: 'Times New Roman', Times, serif;
    } 

    h1 {
       text-align: center;
       font-family: Georgia, 'Times New Roman', Times, serif;
    }

.app-body {
    background: image-url("back6.jpg");
    color: white;
    margin: 33px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    background-repeat: repeat;
    background-size:cover;
    height: 100vh; 
  } 

  tbody {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
     flex-wrap: wrap;

  }

  tbody tr {
    //   margin-bottom: 20px;
      margin: 20px;
  }

  .card-img-top {
    height: 300px;
    width: auto; 
    border-radius: 20px;
  }
  .white-color{
    color:white;
  }
  .white-color:hover{
    color: pink; 
  } 

  .gray-color{
    color:gray;
  }
  .gray-color:hover{
    color: #C71585; 
  } 
  
  .card {
    color: black;
    border-radius: 20px;
    opacity: 0.8;
    background-color: #FFFAFA;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } 

.new-draw{
    // flex-grow: 1;
    justify-content: center;  
    text-align: center; 
    transform: translate(300%, 40%); 
    font-size: 17px;
    font-weight: bold; 
    // border: 7px solid pink; 
    border-radius: 5px; 
    // border-block-end-width: 10px;
    background: image-url("back4.jpg");
    width: 200px;
    // opacity: 0.8; 
    // bottom: 50px;
    padding: 10px;
   
} 
.no-space {
  position: absolute;
  bottom: 0;
  right: 0;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  text-align: center; 
 
} 

.madeBy { 
    font-size: 25px; 
    font-variant: small-caps;  
    
} 

#content-wrap {
  padding-bottom: 1.5rem;    /* Footer height */
} 

[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
} 

[for='toggle-heart'] {
  color: #aab8c2;
}

[id='toggle-heart']:checked + label {
  color: #e2264d;
}

[for='toggle-heart'] {
  font-size: 2em;
  cursor: pointer;
}

@keyframes heart { 0%, 17.5% { font-size: 0; } }

[id='toggle-heart']:checked + label {
  will-change: font-size;
  animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
}